@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // ul {
  //   // list-style: none;
  // }
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$main-font: "Montserrat", sans-serif;
$app-yellow: rgb(255, 193, 7);

// Desktops
@media (min-width: 750px) {
  .App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-section {
    position: absolute;
    top: 5;
    z-index: 2;
    width: 480px;
    font-family: $main-font;
  }
  .prices-section {
    position: relative;
    width: 480px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
  .reviews-section,
  .program-section,
  .experts-section,
  .course-info-section {
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
}

// Mobile Devices
@media (max-width: 749px) {
  .App {
    position: relative;
    max-width: 480px;
  }
  .prices-section {
    max-width: 480px;
  }
}

// Navbar

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  .navbar-text {
    color: yellow;
  }
  .navbar-brand {
    align-self: flex-start;
  }
  .navbar-toggler {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }
  .nav-item:hover {
    cursor: pointer;
  }
}

.navbar-toggler-icon {
  color: yellow;

  // background: yellow;
}

.container ul {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    padding: 3px;
  }
}
// Intro Section

.intro-section {
  position: relative;
  min-height: 900px;
  max-width: 480px;
  background-image: linear-gradient(
      to top,
      rgba(46, 46, 46, 0.5),
      rgba(12, 15, 32, 0.4)
    ),
    url("./img/pink-back.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  h2 {
    // Авторский Курс
    margin-top: 100px;
    background: rgba(233, 232, 232, 0.9);
    padding: 5px;
    text-align: center;
    width: 90%;
    font-size: 15px;
    color: rgb(37, 37, 37);
    font-family: "Oswald", sans-serif;
    margin-bottom: 50px;
  }
  h1 {
    // Слоган
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(233, 232, 232);
    font-weight: 200;
    font-family: "Oswald", sans-serif;
  }
  h3 {
    text-align: center;
    color: rgb(233, 232, 232);
    font-family: $main-font;
  }
  .join-button {
    animation: pulse-orange 2s infinite forwards;
    font-weight: 700;
    margin-top: 50px;
    width: 70%;
    height: 50px;
  }
}

// Course Info Section

.course-info-section {
  height: auto;
  max-width: 480px;
  font-family: $main-font;
  overflow: hidden;
  .course-target {
    padding-top: 50px;
    height: auto;
    background: rgb(255, 193, 7);
    // border-bottom: 2px solid black;
    @include center;
    h1 {
      text-align: center;
      font-weight: 700;
      padding-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .if-you-container {
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 375px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-right: auto;
        margin-left: auto;
        font-size: 40px;
      }
      .types-section {
        text-align: center;
        height: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .dots-and-cross {
          height: 40px;
          width: 40px;
          font-size: 25px;
          animation: spin 5s infinite forwards;
        }
        .type {
          font-family: $main-font;
          padding: 10px;
          margin: 4px;
          border-radius: 10px;
          font-size: 20px;
          color: black;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          background: rgba(255, 255, 255, 0.7);

          min-height: 50px;
          width: 95%;
        }
      }
    }
  }
  .benefits-list {
    width: 100%;
    h1 {
      text-align: center;
      font-weight: 1000;
      background: rgb(255, 193, 7);
      // border: 1px solid black;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      width: 100%;
      color: rgb(48, 48, 48);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    max-width: 100%;
    .benefit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 4px;
      padding: 10px;
      border-radius: 10px;
      font-size: 19px;
      color: black;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      background: rgba(255, 255, 255, 0.7);
      // @include display-column;
      max-height: auto;
      width: 95%;
      b {
        padding: 20px;
      }
      img {
        margin-bottom: 50px;
        height: 80px;
        width: 80px;
      }
    }
  }
}

// Program Section

.program-section {
  height: auto;
  max-width: 480px;
  background: grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  .program-icon {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    height: 180px;
    width: 140px;
  }
  h1 {
    text-align: center;
    padding-top: 100px;
    color: white;
  }

  // Simple Block
  .program-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 800;
    color: $app-yellow;
  }
  .program-plan-section {
    position: relative;
    max-width: 100%;
    height: auto;
    padding-bottom: 45px;
    .mentor {
      // background: $app-yellow;
    }
    .lessons-list {
      border: 3px solid rgb(0, 0, 0);
      margin-right: auto;
      margin-left: auto;
      margin-top: 45px;
      @include center;
      max-width: 80%;
      text-align: center;
      border-radius: 20px;
      overflow: hidden;
      width: 95%;
      b {
        color: white;
      }
      .long-lesson:after {
        content: "\A";
        white-space: pre;
      }
      h2 {
        // Lesson Number
        padding: 5px;
        // color: $app-yellow;
        color: rgb(255, 255, 255);
        font-family: $main-font;
        font-size: 25px;
        width: 100%;
        background: rgba(34, 34, 34, 0.5);
      }
      .lesson {
        overflow: hidden;
        font-family: $main-font;
        padding: 20px 0 20px 0;
        font-size: 20px;
        font-weight: 300;
        // text-shadow: 0 0 15px rgb(255, 255, 255);
        max-width: 80%;
      }

      // Mentor Block
    }
  }
}

// Experts Section

.experts-section {
  height: auto;
  font-family: $main-font;
  @include center;
  overflow: hidden;
  max-width: 480px;
  background: rgb(236, 236, 236);
  h1 {
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
    margin-right: 20px;
    color: rgb(59, 59, 59);
    font-weight: 800;
    // border: 1px solid black;
    border-radius: 15px;
  }
  .expert-card {
    width: 80%;
    height: auto;
    // border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    img {
      min-height: 250px;
      width: 100%;
    }
    h2 {
      background: rgb(75, 74, 74);
      color: white;
      padding: 10px;
      font-size: 20px;
    }
    h3 {
      padding: 15px;
      border: 1px solid $app-yellow;
    }
    p {
      text-align: left;
      padding-left: 10px;
      padding-top: 30px;
      font-weight: 300;
      .bounce-ball {
        animation: spin 2s infinite forwards;
      }
    }
  }
}

// Prices Section

.prices-section {
  position: relative;
  border-top: 1px solid black;
  height: auto;
  background: url("./img/grey-cube-back.jfif");
  font-family: $main-font;
  @include center;
  h1 {
    text-align: center;
    font-weight: 800;
  }
  .timer {
    padding-top: 20px;
    font-family: $main-font;
    font-weight: 200;
    width: 90%;
    @include center;
    h2 {
      font-family: $main-font;
    }

    h1 {
      width: 100%;
    }
  }
  .price-card {
    margin-top: 50px;
    min-height: 600px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 1px -5px 10px 1px black;
    border-radius: 15px;
    border-bottom: 1px solid black;
  }
  .price-card2 {
    background: rgba(235, 147, 17, 0.1);
  }
  .price-card3 {
    // background: $app-yellow;
  }
  .price-card4 {
    background: $app-yellow;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 10px 5px 5px 20px;
    font-weight: 600;
  }
  .prices-block {
    @include center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgb(53, 53, 53);
    width: 100%;
    h1,
    h2,
    h3 {
      padding-top: 8px;
      color: $app-yellow;
    }
    h1,
    h2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .yandex {
    padding: 20px;
    .yandex-buttons {
      // margin: 25;
      // pointer-events: none;
    }
    h4 {
      font-size: 20px;
      margin: 20px;
      // width: 100%;
    }
  }
}

// Reviews Section

.reviews-section {
  position: relative;
  height: auto;
  max-width: 480px;
  background: $app-yellow;
  font-family: $main-font;
  @include center;

  h1 {
    text-align: center;
    padding-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 800;
  }
  .review-picture {
    height: 500px;
    width: 90%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    @include center;
    img {
      height: auto;
      width: 100%;
    }
  }
  // .card1 {
  //   height: auto;
  //   width
  // }
}

// Corusel

.rec.rec-carousel-item {
  outline: none;
  // box-shadow: inset 0 0 1px 0px violet;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow {
  position: absolute;
  z-index: 1;
}

.rec.rec-arrow-right {
  right: 0;
}

.rec.rec-dot {
  background-color: $app-yellow;
  // box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
}

.rec-carousel-item:focus {
  outline: none;
}

// Form

.payment-form {
  position: relative;
  border: 1px solid black;
  height: 400px;
  width: 100%;
  background: rgba(128, 128, 128, 0.7);
  border-radius: 15px;
  img {
    height: 50px;
    width: 50px;
  }
  label {
    font-family: $main-font;
    font-size: 12px;
    color: white;
  }
  input {
    border: 1px solid black;
    border-radius: 5px;
  }
  input[type="radio"] {
    display: none;
  }
  .payment-buttons {
    // padding: 30px 15px 0px;
    // margin-top: 25px;
  }
  .payment-button {
    @include center;
    margin-top: 20px;
    width: 48%;
    padding: 10px;
    font-size: 12px;
    background-color: $app-yellow;
    font-weight: 700;
  }
  h4 {
    color: $app-yellow;
    font-size: 15px;
    margin-top: 15px;
  }
  .question-mark {
    border: 1px solid black;
    padding: 5px;
    font-weight: 500;
    border-radius: 25%;
    margin-right: 5px;
    background: rgb(61, 61, 61);
    color: white;
  }
}

// REMOVE LATER
.question-mark {
  border: 1px solid black;
  padding: 5px;
  font-weight: 500;
  border-radius: 25%;
  margin-right: 5px;
  background: rgb(61, 61, 61);
  color: white;
}

// Animation

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 195, 2, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
